<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org";>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EFIELÉCTRICA S.A.S</title>
    <link th:href="@{./css/estilos_index.css}"  rel="stylesheet" />
    <link th:href="@{./Img/fotodeperfilefi-35.ico}"  rel="icon">
</head>

<body>
    <header>
        <br /><br /><br /><br />
        <div align="center">
            <img src="./Img/logoazul-35.png" style="max-width:40%;height:auto;">
        </div>

        <br />
        <h1> _____ Soluciones Energéticas _____</h1>

    </header>

    <br />

    <nav>
        <div style="overflow: auto" align="center">
            <div class="menu">
                <a href="./index.html">INICIO</a> &nbsp;&nbsp;&nbsp;
                <a href="./nosotros.html">NOSOTROS</a> &nbsp;&nbsp;
                <a href="./servicios.html">SERVICIOS

                   <!-- <u>
                        <li><a href="./instalaciones.html">INSTALACIONES ELÉCTRICAS</a></li>
                        <li><a href="./ERNC.html">ERNC</a></li>
                        <li><a href="./domotica.html">DOMÓTICA</a></li>
                        <li><a href="./RITEL.html">RITEL</a></li>
                    </u>-->

                </a> &nbsp;&nbsp;&nbsp;
                
                <a href="./contacto.html">CONTÁCTANOS</a>

            </div>
            </div>

    </nav>

    <br /><br /><br />

    <div class="banner">

        <div class="contenido-banner">
            <h2><b>INSTALACIONES ELÉCTRICAS Y ENERGÍAS RENOVABLES NO CONVENCIONALES (ERNC)</b></h2>
        </div>

    </div>

    <div class="banner2"></div>
    <div class="banner3"></div>

    <br />

    <main>

        <section>

            <h3>¿QUIÉNES SOMOS?</h3>

            <p>
                Empresa Colombiana del sector eléctrico conformada por un grupo de profesionales dedicados al diseño
                y construcción de instalaciones eléctricas e integración de energías renovables no convencionales
                (ERNC).
            </p>

        </section>

        <section class="nosotros">

            <article>
                <a href="./nosotros.html">MÁS SOBRE NOSOTROS...</a>
            </article>

        </section>
        <br /><br />

        <section>

            <h4>NUESTROS SERVICIOS</h4>
            <br />

        </section>

        <br /><br />

    </main>



    <!--<div class="banner4">

        <footer class="contenido-banner4">

        Efieléctrica, Soluciones Energéticas <br/> Todos los derechos reservados
        </footer>

    </div>-->

</body>

</html>